
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{adminLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>Book 정보 확인, 수정</h4>
    </div>
  </div>
  <form role="form" th:object="${updateDto}" method="post" enctype="multipart/form-data">
    <div class="mb-3 form-group">
      <label th:for="coverImg" class="form-label">표지</label>
      <!--파일 수정하고 싶을 시 img삭제 버튼 추가, 삭제 누르면 파일 선택 input 뜨도록 -->
      <img th:src="@{/imagePath/}+${bookImg}">
      <input type="file" th:field="*{coverImg}" id="coverImg" class="form-control">
    </div>
    <div class="mb-3 form-group">
      <label th:for="title" class="form-label">제목</label>
      <input type="text"  th:field="*{title}" id="title" class="form-control">
    </div>
    <div class="mb-3 form-group">
      <label th:for="author" class="form-label">작가</label>
      <input type="text"  th:field="*{author}" id="author" class="form-control">
    </div>
    <div class="mb-3 form-group">
      <label th:for="category" class="form-label">카테고리</label>
      <select id="categoryInput" name="category" >
        <option  th:each="category : ${T(jpabook.archiveB.domain.Category).values()}"
                 th:value="${category}"
                 th:text="${category.value}"
                 th:selected="${category.value} == *{category.value}"
        ></option>
      </select>
    </div>
    <div class="mb-3 form-group">
      <label th:for="isbn" class="form-label">isbn</label>
      <input type="text"  th:field="*{isbn}" id="isbn" class="form-control">
    </div>
    <div class="mb-3 form-group">
      <label th:for="plot" class="form-label">plot</label>
      <input type="text" th:field="*{plot}" id="plot" class="form-control">
    </div>
    <div class="mb-3 form-group">
      <label th:for="publicationDate" class="form-label">publicationDate</label>
      <input type="date" th:field="*{publicationDate}" id="publicationDate" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">수정</button>
    <a th:href="@{'/admin/books/'+${bookId}+'/delete'}" class="btn btn-danger">삭제</a>
  </form>

</div>
  <!-- 댓글 목록을 표시하는 템플릿 -->
  <ul>
    <li th:each="list : ${comments}">
      <span th:text="${list.member.getName()}"></span>
      <span th:text="${list.date}"></span>
      <span th:text="${list.comment}"></span>
      <!-- 현재 사용자가 작성자인 경우에만 수정/삭제 버튼 표시 -->
      <div th:if="${currentMember==list.member}">
        <!--
                        <a data-bs-toggle="collapse" th:attr="data-bs-target=${list.id}">Edit</a>
        -->

        <a th:href="@{'/comments/'+${list.id}+'/delete'}" class="btn btn-primary">삭제</a>

        <!--<form class="collapse" th:id="${list.id}"
              th:action="@{'/comments/'+${list.id}+'/edit'}" method="post" th:object="${comment}">
            <input type="hidden" id="id" th:field="*{id}" th:value="${list.id}">
            <div class="form-group">
                <textarea class="form-control" id="comment-content" rows="3" th:field="*{content}" th:text="${list.comment}"></textarea>
            </div>
            <button type="button" class="btn btn-outline-primary bi bi-pencil-square"> 수정</button>
        </form>-->
      </div>
    </li>
  </ul>
</div>
</html>