
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
            <div class="star-rating">
          <span th:each="i : ${#numbers.sequence(1, 5)}">
            <span th:classappend="${i &lt;= book.starAvg} ? 'filled star' : 'star'">★</span>
          </span>
            </div>
           <span th:text="${book.title}"> </span>
           <span th:text="${book.author}"> </span>
           <img th:src="@{/imagePath/}+${book.coverImg}">
           <span th:text="${book.category}"> </span>
           <span th:text="${book.plot}"> </span>
           <span th:text="${book.isbn}"> </span>
           <span th:text="${book.publicationDate}"> </span>
    <!-- Comment 목록을 표시하는 템플릿 -->
    <form class="commentForm"th:action="@{'/comments/'+${bookId}+'/add'}" th:object="${commentDto}"method="post">
        <span class="text-bold">리뷰 작성하기! </span>
        <fieldset>
                <input type="radio" name="star" value="5" th:checked="${commentDto.star=='5'}" id="rate1"><label
                    for="rate1">★</label>
                <input type="radio" name="star" value="4" th:checked="${commentDto.star=='4'}" id="rate2"><label
                    for="rate2">★</label>
                <input type="radio" name="star" value="3" th:checked="${commentDto.star=='3'}" id="rate3"><label
                    for="rate3">★</label>
                <input type="radio" name="star" value="2"  th:checked="${commentDto.star=='2'}" id="rate4"><label
                    for="rate4">★</label>
                <input type="radio" name="star" value="1"  th:checked="${commentDto.star=='1'}" id="rate5"><label
                    for="rate5">★</label>
            </fieldset>
            <textarea class="content" th:field="*{content}"></textarea>
        <div>
            <button type="submit">댓글 작성</button>
        </div>
    </form>
    <ul>
        <li th:each="list : ${comments}">
            <div class="star-rating">
              <span th:each="i : ${#numbers.sequence(1, 5)}">
                <span th:classappend="${i &lt;= list.star} ? 'filled comment-star' : 'comment-star'">★</span>
              </span>
            <span th:text="${list.member.getName()}"></span>
            <span th:text="${list.date}"></span>
            <span th:text="${list.comment}"></span>
            <!-- 현재 사용자가 작성자인 경우에만 수정/삭제 버튼 표시 -->
            <div th:if="${currentMember==list.member}">
<!--
                <a data-bs-toggle="collapse" th:attr="data-bs-target=${list.id}">Edit</a>
-->

                <a th:href="@{'/comments/'+${list.id}+'/delete'}" class="btn btn-primary">삭제</a>

                <!--<form class="collapse" th:id="${list.id}"
                      th:action="@{'/comments/'+${list.id}+'/edit'}" method="post" th:object="${comment}">
                    <input type="hidden" id="id" th:field="*{id}" th:value="${list.id}">
                    <div class="form-group">
                        <textarea class="form-control" id="comment-content" rows="3" th:field="*{content}" th:text="${list.comment}"></textarea>
                    </div>
                    <button type="button" class="btn btn-outline-primary bi bi-pencil-square"> 수정</button>
                </form>-->
            </div>
        </li>
    </ul>
</div>
