<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .comment-list li {
            padding: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            border-radius: 5px;
        }
        .comment-list a {
            font-weight: bold;
        }
        .comment-list .date {
            margin-left: 10px;
            font-style: italic;
            color: #888;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <img th:src="@{/imagePath/}+${book.coverImg}" class="img-fluid mb-2" alt="Book Cover">
        </div>
        <div class="col-md-8">
            <div class="star-rating mb-2">
                <span th:each="i : ${#numbers.sequence(1, 5)}"
                      th:classappend="${i &lt;= book.starAvg} ? 'filled star' : 'star'">★</span>
                <span th:text="${book.starAvg}"></span>
            </div>

            <h2><span th:text="${book.title}"></span></h2>
            <p><span th:text="${book.author}"></span></p>
            <p><span th:text="${book.publisher}"></span></p>
            <p><span th:text="${book.category}"></span></p>
            <p><span th:text="${book.isbn}"></span></p>
            <p><span th:text="${book.plot}"></span></p>

        </div>
    </div>

    <form class="commentForm" th:action="@{'/comments/'+${bookId}+'/add'}" th:object="${commentDto}" method="post">
        <div class="col-md-11">
            <h4 class="font-weight-bold mt-4">리뷰 작성하기!</h4>
            <div class="row align-items-end">
                <div class="col-9">
                    <fieldset>
                        <div class="star-rating mb-2">
                            <input type="radio" name="star" value="5" th:checked="${commentDto.star=='5'}"
                                   id="rate1"><label for="rate1">★</label>
                            <input type="radio" name="star" value="4" th:checked="${commentDto.star=='4'}"
                                   id="rate2"><label for="rate2">★</label>
                            <input type="radio" name="star" value="3" th:checked="${commentDto.star=='3'}"
                                   id="rate3"><label for="rate3">★</label>
                            <input type="radio" name="star" value="2" th:checked="${commentDto.star=='2'}"
                                   id="rate4"><label for="rate4">★</label>
                            <input type="radio" name="star" value="1" th:checked="${commentDto.star=='1'}"
                                   id="rate5"><label for="rate5">★</label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-3 text-end mb-2">
                    <button type="submit" class="btn btn-primary">댓글 작성</button>
                </div>
            </div>
            <textarea class="content form-control mb-2" th:field="*{content}" placeholder="댓글을 입력하세요..."></textarea>
        </div>
    </form>

    <ul class="comment-list col-md-11">
        <li th:each="list : ${comments}" class="list-unstyled row align-items-center">
            <div class="col-2 fw-bold pb-2">
                <p><span th:text="${list.member.getName()}"></span></p>
            </div>
            <div class="col-6 pb-4">
                <div class="star-rating">
                    <span th:each="i : ${#numbers.sequence(1, 5)}" th:classappend="${i &lt;= list.star} ? 'filled comment-star' : 'comment-star'">★</span>
                </div>
            </div>
            <div class="col-2 pb-4">
                <span class="date" th:text="${#temporals.format(list.date, 'yyyy-MM-dd')}"></span>
            </div>
            <div class="col-2 pb-4 text-end">
            <span th:if="${currentMember==list.member}">
                <a th:href="@{'/comments/'+${list.id}+'/delete'}" class="btn btn-outline-danger">삭제</a>
            </span>
            </div>
            <div class="col-12">
                <span th:text="${list.comment}"></span>
            </div>
        </li>
    </ul>

    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link" th:href="@{/books/{bookId}(bookId=${bookId}, commentPage=${currentPage - 1})}" th:text="Previous"></a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages)}"
            th:classappend="${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/books/{bookId}(bookId=${bookId}, commentPage=${pageNumber})}" th:text="${pageNumber}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{/books/{bookId}(bookId=${bookId}, commentPage=${currentPage + 1})}" th:text="Next"></a>
        </li>
    </ul>

</div>
</html>
