
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{adminLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>Book 추가</h4>
        </div>
    </div>
    <form role="form" action="/admin/books/add" th:object="${bookSaveRequestDto}" method="post" enctype="multipart/form-data">
        <div class="mb-3 form-group">
            <label th:for="coverImg" class="form-label">표지</label>
            <input type="file" th:field="*{coverImg}" id="coverImg" class="form-control">
        </div>
        <div class="mb-3 form-group">
            <label th:for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" id="title" class="form-control">
        </div>
        <div class="mb-3 form-group">
            <label th:for="author" class="form-label">작가</label>
            <input type="text" th:field="*{author}" id="author" class="form-control">
        </div>

        <div class="mb-3 form-group">
            <label th:for="publisher" class="form-label">출판사</label>
            <input type="text" th:field="*{publisher}" id="publisher" class="form-control">
        </div>

        <div class="mb-3 form-group">
            <label th:for="category" class="form-label">카테고리</label>

            <select id="categoryInput" name="category">
            <option th:each="category : ${T(jpabook.archiveB.domain.Category).values()}"
                    th:value="${category}"
                    th:text="${category.value}"></option>
        </select>
        </div>
        <div class="mb-3 form-group">
            <label th:for="isbn" class="form-label">isbn</label>
            <input type="text" th:field="*{isbn}" id="isbn" class="form-control">
        </div>
        <div class="mb-3 form-group">
            <label th:for="plot" class="form-label">plot</label>
            <input type="text" th:field="*{plot}" id="plot" class="form-control">
        </div>
        <div class="mb-3 form-group">
            <label th:for="publicationDate" class="form-label">publicationDate</label>
            <input type="date" th:field="*{publicationDate}" id="publicationDate" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>