
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>작성날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><span th:text="${post.title}"> </span></td>
      <td><span th:text="${post.postDate}"> </span></td>
    </tr>
    <span th:text="${post.content}"> </span>
    <a th:href="@{'/posts/'+${postId}+'/edit'}" class="btn btn-primary">수정</a>
    <a th:href="@{'/posts/'+${postId}+'/delete'}" class="btn btn-primary">삭제</a>

    </tbody>
  </table>
</div>