<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <div class="d-flex justify-content-end mb-3">
    <a th:href="@{/posts/write}" class="btn btn-primary">글쓰기</a>
  </div>
  <div th:if="${posts}">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">제목</th>
        <th scope="col">날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="list : ${posts}">
        <td><a th:href="@{'/posts/'+${list.id}}" class="text-black text-decoration-none"/><span th:text="${list.title}"> </span></td>
        <td><span th:text="${#temporals.format(list.postDate, 'yyyy-MM-dd')}"></span></td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/posts/list(page=${currentPage - 1})}" th:text="Previous"></a>
      </li>
      <li th:each="pageNumber : ${#numbers.sequence(0, totalPages)}"
          th:classappend="${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
        <a class="page-link" th:href="@{/posts/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/posts/list(page=${currentPage + 1})}" th:text="Next"></a>
      </li>
    </ul>
  </div>
</div>
</html>
